body{
  background-color:#f5f5f5;
  color:#505050;
  font-family: 'Montserrat', sans-serif;
}

.webpage{
  background-color:##ffeead;
  margin: 0 auto;
  width: 620px;
  height: 925px;
  border:1.5px solid;
  border-color:#ffffff;
  padding: 10px;
}

.heading{
  display:grid;
  grid-template-columns: 32px 158px 32px 158px 32px 158px;
  grid-template-rows: 50px 32px;
  grid-gap:10px;
}

#name{
  grid-column:1/-1;
  font-size:40px;
}

.contact{
  padding-top:18px;
  width:25px;
  height:25px;
}

#linkedin{
  margin-left:-5px;
  width:32px;
}

.contactText{
  margin-left:-15px;
  text-align:left;
  line-height:32px;
  height:32px;
}

.about{
  margin-top:20px;
  display:grid;
  grid-template-rows: 50px 200px;
}

#about{
  padding-left:5px;
}

#text{
  padding: 0 20px 0 20px;
  font-size: 20px;
}

.projects{
  margin-top:20px;
  display:grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 45px 45px 200px 200px;
  grid-gap:10px;
}

#projects{
  margin-top:5px;
  padding-left:5px;
  grid-column:1/-1;
}

.title{
  text-align:center;
  line-height:45px;
  height:45px;
  border:2px dashed;
  border-color:#ff6f69;
}

.image{
  margin-top:20px;
  border:2px solid;
  border-color:#ff6f69;
  width:196px;
  height:196px;
}

.text{
  font-size: 0.85em;
  margin-top:20px;
  padding:0 5px 0 5px;
  border:2px dotted;
  border-color:#ff6f69;
}

hr{
  margin:20px 0px -30px 0px;
  color:#505050;
  background-color:#505050;
  border-color:#505050;
}
